.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: #001E5A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logo-acm {
    position: fixed;
    top: 0;
    width: 20%;
    height: 10%;
    flex-shrink: 0;
}

.topnav {
    position: relative;
    top: 0;
    width: 50%;
    height: 30%;
    float: right;
}

.topnav a {
    width: 50%;
    height: 20%;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 90%;
    font-style: normal;
    font-weight: 80px;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


@media screen and (min-width: 380px){
  
    .logo-acm {
        position: fixed;
        top: 0;
        width: 25%;
        height: 8%;
        flex-shrink: 0;
        float: center;
    }

    .topnav {
        position: relative;
        width: 50%;
        height: 10%;
        top: 20px;
        left: -115px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 80%;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }   
}