.footer-text {
  position: absolute;
  width: 60%;
  height: 30%;
  top: 10%;
  left: 5%;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 80px;
  font-size: 90%;
  line-height: 15px;
  text-align: left;
  
  color: #FFFEFE;
}
  
.footer-wrapper {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
  background: #001E5A;
}

@media (min-width: 100px) {
  .footer-nav a {
    margin: 20px;
    padding-top: 35%;
    padding-left: 50%;
    padding-right: 40%;
  }

  .footer-nav {
    position: absolute;
    left: 40%;
    top: 30%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    grid-template-rows: repeat(1,6vw);
  }
}

@media (max-width: 1440px) {

  .footer-nav a {
    margin: 8px;
    padding-top: 35%;
    padding-left: 50%;
    padding-right: 40%;
}

  .footer-nav {
    position: absolute;
    left: 60%;
    top: -30%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    grid-template-rows: repeat(1,10vw);
  }
}