.imagem-bg {
    background: url(./assets/background.png) no-repeat;
    width: auto;
    height: 400px;
    background-size: 100%;
}

.intro-wrapper {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 30%;
    background: #1E1E1E;
    opacity: 0.8;
    text-align: center;
}


.titulo-intro {
    width: 494px;
    height: 48px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitulo-intro {
    width: 494px;
    height: 48px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quem-somos-wrapper {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 275%;
    background: rgba(0, 30, 90, 0.90);
    opacity: 0.8;
    text-align: center;
}

.titulo-quem-somos {
    width: 153px;
    height: 25px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.texto-quem-somos {
    width: 550px;
    height: 62px;
    flex-shrink: 0;
    color: #FCFCFC;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-quem-somos {
    width: 388px;
    height: 42px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    background: #FFF;  
}

.servicos-wrapper {
    position: absolute;
    width: 100%;
    height: 20%;
    flex-shrink: 0;
    opacity: 0.8;
    background: #000;

}
.titulo-servicos {
    width: 153px;
    height: 25px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.servicos-item {
    width: 138px;
    height: 19.684px;
    flex-shrink: 0;
    color: #001E5A;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
}